body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    background-image: url('bg.jpg');
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.employee-list {
    margin-top: 20px;
}

.employee-list ul {
    list-style: none;
    padding: 0;
}

.employee-list li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.employee-list li button {
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.employee-list li button:hover {
    background-color: rgba(255, 0, 0, 1);
}

.logout-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ff5555;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #ff3333;
}
